# Separate git repositories
root/
blog/
debate/
home/
ta/
taiwan/

# Cert-manager key
gce-service-account-key.json

# Cloudflare Origin Certificate
origin.pem
origin.key

# Docker images
docker-images/
