# Separate git repositories
root/
blog/
debate/
home/
ta/
taiwan/
logo/
origin/

# Cert-manager key
gce-service-account-key.json

# Origin Certificates
*-origin.pem
*-origin.key

# Secrets
secrets.json

# Docker images
docker-images/

